<!--LOGIN PAGE-->
<div class="min-h-[80vh] bg-gradient-red flex flex-col px-2 py-6">
  <!--TITLE-->
  <app-title title="Register" class="ml-8"></app-title>

  <div
    class="my-12 mx-8 md:mr-16 flex flex-col md:flex-row items-center md:gap-8 md:justify-evenly"
  >
    <!--REGISTER FORM-->
    <form
      [formGroup]="registerForm"
      (ngSubmit)="submit()"
      class="flex flex-col bg-transparent-black p-4 rounded-sm w-full sm:w-[70vw] md:w-[55vw] lg:w-[40vw] xl:w-[30vw] mb-16 md:mb-0"
    >
      <!--NAME INPUT-->
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input
          matInput
          placeholder="Jane Doe"
          formControlName="name"
          required
        />
        <mat-error *ngIf="fc.name.errors && isSubmitted">
          {{ getNameErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <!--EMAIL INPUT-->
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="test@gmail.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="fc.email.errors && isSubmitted">
          {{ getEmailErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <!--PASSWORD INPUT-->
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          required
          [type]="hide ? 'password' : 'text'"
        />

        <!--HIDE/SHOW PASSWORD BUTTON-->
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="fc.password.errors && isSubmitted">
          {{ getPasswordErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <!--CONFIRM PASSWORD INPUT-->
      <mat-form-field appearance="fill">
        <mat-label>Enter your password again</mat-label>
        <input
          matInput
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          required
          [type]="hide ? 'confirmPassword' : 'text'"
        />

        <!--HIDE/SHOW CONFIRM PASSWORD BUTTON-->
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="fc.confirmPassword.errors && isSubmitted">
          {{ getConfirmPasswordErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <div class="flex justify-between items-center mt-4">
        <!--LOGIN TEXT-->
        <span class="text-white font-amatic text-2xl font-black">
          Already have an
          <a
            routerLink="login"
            [queryParams]="{ returnUrl: returnUrl }"
            class="animate-text-color-change underline"
            >account </a
          >?
        </span>

        <!--REGISTER BUTTON-->
        <button
          type="submit"
          class="bg-red text-white py-2 px-4 w-fit rounded-md font-josefin"
        >
          Register
        </button>
      </div>
    </form>

    <!--BREAD ANIMATION-->
    <div class="h-[250px] w-[250px] rounded-md md:animate-bread-color-change">
      <img
        src="../../../../assets/cute-bread.png"
        alt="cute bread"
        class="md:ml-10 md:mt-10 animate-bread-bob"
      />
    </div>
  </div>
</div>
