<!--NAVBAR-->
<!-- mat-toolbar already has display:flex -->
<mat-toolbar
  class="w-full h-[10vh] mx-auto border-x justify-between bg-black sticky top-0 z-[100]"
>
  <!--LOGO WITH TITLE-->
  <a routerLink="home">
    <img
      src="../../../../assets/logo-title.png"
      alt="logo-title"
      class="w-[200px] h-[10vh] object-cover"
    />
  </a>

  <div class="flex align-baseline gap-2">
    <!--CART BUTTON-->
    <!-- metMenuTriggerFor triggers a the mat-menu with #cart-menu to pop-up -->
    <button mat-icon-button [matMenuTriggerFor]="cart_menu">
      <mat-icon
        fontIcon="shopping_cart"
        [matBadge]="cartQuantity"
        matBadgeColor="warn"
        class="text-white"
      ></mat-icon>
    </button>

    <!--PROFILE BUTTON-->
    <!-- *ngIf only renders this button if user is true -->
    <button *ngIf="user" mat-icon-button [matMenuTriggerFor]="profile_menu">
      <mat-icon fontIcon="account_circle" class="text-white"></mat-icon>
    </button>

    <!--LOGIN BUTTON-->
    <button *ngIf="!user" routerLink="login" class="font-josefin text-white">
      Login
    </button>
  </div>

  <!--CART POP-UP MENU-->
  <mat-menu #cart_menu class="bg-gray">
    <div class="p-3 divide-y divide-solid font-josefin">
      <!--TOTAL ITEMS-->
      <div class="pb-3 flex justify-between">
        Cart:
        <span class="font-bold"
          >{{ cartQuantity ? cartQuantity : 0 }} Items</span
        >
      </div>

      <!--ITEMS IN CART-->
      <div class="h-[15vh] py-3 overflow-y-scroll">
        <div
          *ngFor="let cartItem of cartItems"
          clas="flex justify-between font-light my-4"
        >
          {{ cartItem.name }} x {{ cartItem.quantity }}
          <!-- Uses angular expression to add currency icon -->
          <span class="font-bold">{{ cartItem.price | currency }}</span>
        </div>
      </div>

      <!--TOTAL PRICE-->
      <div class="flex justify-between py-3 font-medium">
        Total:
        <span class="font-bold">{{ cartPrice | currency }}</span>
      </div>

      <div class="pt-3 flex gap-2">
        <!--CLEAR CART BUTTON-->
        <button
          (click)="clearCart()"
          class="bg-red text-white rounded-sm p-2 font-josefin"
        >
          Clear Cart
        </button>

        <!--VIEW CART BUTTON-->
        <button
          routerLink="cart"
          class="bg-black text-white rounded-sm p-2 font-josefin"
        >
          View Cart
        </button>
      </div>
    </div>
  </mat-menu>

  <!--PROFILE POP-UP MENU-->
  <mat-menu #profile_menu class="bg-gray">
    <div class="p-3 flex flex-col gap-4 font-josefin">
      <!--PROFILE BUTTON-->
      <button routerLink="profile" class="flex align-baseline gap-2">
        <mat-icon>settings</mat-icon>
        Profile
      </button>

      <!--LOGOUT BUTTON-->
      <button class="flex align-baseline gap-2">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
